
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="/Content/layui/css/layui.css" rel="stylesheet" />
    <script src="/Content/layui/layui.js"></script>
    <script>
        layui.use(['layer', 'laydate','element'], function () { //独立版的layer无需执行这一句
            var $ = layui.jquery, layer = layui.layer, laydate = layui.laydate, element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块

            //触发事件
            var active = {
                setPercent: function () {
                    //设置50%进度
                    element.progress('demo', '50%')
                }
                , loading: function (othis) {

                    //模拟loading
                    var n = 0, timer = setInterval(function () {
                        n = n + Math.random() * 10 | 0;
                        if (n > 100) {
                            n = 100;
                            window.location = "/Home/Yeroer";
                        }
                        element.progress('demo', n + '%');
                    }, 300 + Math.random() * 500);

                }
            };

            $(function () {
                var  type = "loading";
                active[type] ? active[type].call(this) : '';
            })
        });
    </script>
</head>
<body>
    <div class="layui-main">
        <div style="margin-top:250px;"></div>
        <div class="layui-row">
            <div class="layui-col-sm3">
                &nbsp;
            </div>
            <div class="layui-col-sm6">
                <div class="layui-progress layui-progress-big" lay-showpercent="true" lay-filter="demo">
                    <div class="layui-progress-bar layui-bg-red" lay-percent="0%"></div>
                </div>
            </div>
            <div class="layui-col-sm3">
                &nbsp;
            </div>
        </div>

        <div class="layui-col-md3 layui-col-md-offset5" style="margin-top:10px;">
            <div class="grid-demo grid-demo-bg1">欢迎访问yeroer个人网站，建设中....</div>
        </div>
    </div>
</body>
</html>
